<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Center Seven API</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <h1>🌐 Center Seven API</h1>
  <a href="/docs">🧪 Documentação Geral</a>
  <a href="/v1/docs">🔁 API V1</a>
  <a href="/v2/docs">🔁 API V2</a>
  <a href="https://centerseven7.netlify.app/">🪪 Site Consultas</a>
  <a href="https://t.me/consultasblack01>💾 Telegram</a>
  <a href="https://github.com/derxankvs>🫆 Github Ofc</a>
</body>
</html>